In [2]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [3]:
#Lenth function
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [4]:
#type
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [5]:
#access tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [7]:
#Indexing

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

print(thistuple[-1])

('cherry', 'orange', 'kiwi')
mango

Condition Statement

In [8]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

Add function

In [11]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

Remove

In [12]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

delete

In [16]:
thistuple1 = ("apple", "banana", "cherry")
del thistuple1
print(thistuple1)

NameError: name 'thistuple1' is not defined

for loop

In [18]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

while loop

In [19]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

join

In [20]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)